<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Movies</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${movies} and ${movies.size()}">No Movies!</p>

<table class="table table-dark table-striped">
    <head>
        <tr>
            <th>Title</th>
        </tr>
    </head>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie}"></td>
    </tr>
</table>

</body>
</html>